body {background: #111; padding: 0;}
a {color: #d26c22; text-decoration: none;}
a:hover {opacity: .7;}
.a {text-decoration: underline;}
.inf {font-size: 15px;}
h2 {font-size: 19px;}

h2, h3, .inf {
	color: #ccc;
	font-family: Verdana;
	font-weight: 100;
	letter-spacing: 1px;
}

.content {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	box-sizing: border-box;
}

.parent {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.block {
	display: inline-block;
	text-align: center;
	color: #cdcdcd;
	font: 14px Verdana;
}

.footer {
	text-align: center;
	color: #ccc;
	font: 12px Verdana;
	padding-top: 15px;
}